/* styles.css */
.container {
    flex: 1;
    justify-content: center;
    align-items: center;
  }
  
  /* Accueil.css */

.datepicker-container {
    width: 200px;
  }
  
  .datepicker-icon {
    position: absolute;
    left: 0;
    top: 4px;
    margin-left: 0;
  }
  
  .datepicker-input {
    margin-left: 36px;
  }
  
  